html {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#list {
    margin-top:30px;
}

table {
    border-collapse: collapse;
    width:100%;
}

td,th {
    border:1px solid black;
    text-align:left;
    padding:4px;
}

tr:nth-child(even) {
    background-color:gainsboro;
}